@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 83% 98%;
    --foreground: 222 47% 11%;

    --card: 222 83% 98%;
    --card-foreground: 222 47% 11%;

    --popover: 222 83% 98%;
    --popover-foreground: 222 47% 11%;

    --primary: 340 82% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 224 71% 4%;

    --accent: 340 82% 52%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 340 82% 52%;

    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url('https://i.imgur.com/k27y1qG.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

@layer utilities {
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .float {
    animation: float 6s ease-in-out infinite;
  }
}
